<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="media.css" />
  </head>
  <body>
    <div>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <p id="audioname">歌名：</p>
        <p>歌手：</p>
        <img style="width: 300px"/>
        <audio src="" controls autoplay></audio>
        <button onclick="xys()">更换歌曲</button>
      </div>
    </div>
    <script src="../script/media.js"></script>
  </body>
</html>
